@import "../configs";

.detailed-weather-container {
  display: flex;
  flex-direction: column;
  // flex-wrap: wrap;
  justify-content: space-between;
  opacity: 0.85;
}

.sun-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  &__sunrise,
  &__sunset {
    background-color: $color-gray1;
    border-radius: 5px;
    margin-right: 4%;
    padding: 4% 3%;
    text-align: center;
    font-weight: bold;
    font-size: $font-sm;
    @include iphone() {
      font-size: $font-xsm;
    }
  }
}

.other-weather-info-container {
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background-color: $color-gray1;
  border-radius: 5px;
  p {
    margin: 2% 1.5%;
    font-size: $font-sm;
    @include iphone() {
      font-size: $font-xsm;
    }
  }
}

.forcast-container {
  width: 95%;
  margin: 1rem auto;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  // flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  background-color: $color-gray1;
  border-radius: 5px;
  > p {
    margin: 0 auto;
    width: 50%;
    border-bottom: 1px solid white;
    &:last-child {
      border-bottom: none;
    }
    font-size: $font-sm;
    @include iphone() {
      font-size: $font-xsm;
      width: 70%;
    }
    span {
      display: inline-block;
      width: 33%;
    }
    img {
      width: 30%;
    }
  }
}
