@import "../configs";

.detailed-weather-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 75vh;
  opacity: 0.85;
  @include ipad() {
    height: 60vh;
  }
}

.sun-container {
  display: flex;
  justify-content: center;
  width: 95%;
  flex-wrap: wrap;
  &__sunrise,
  &__sunset {
    background-color: $color-gray1;
    border-radius: 5px;
    margin-right: 4%;
    padding: 4% 3%;
    text-align: center;
    font-weight: bold;
    font-size: $font-sm;
    @include ipad() {
      font-size: $font-xsm;
      margin-top: 5%;
    }
    @include iphone() {
      font-weight: normal;
      margin-right: 0;
      padding: 6% 4.5%;
    }
  }
}

.other-weather-info-container {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-gray1;
  border-radius: 5px;
  padding: 2% 1.5%;
  p {
    margin: 2% 1.5%;
    font-size: $font-sm;
    text-align: center;
    @include iphone() {
      font-size: $font-xsm;
    }
  }
}

.forcast-container {
  width: 95%;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  background-color: $color-gray1;
  border-radius: 5px;
  > p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 60%;
    border-bottom: 1px solid white;
    &:last-child {
      border-bottom: none;
    }
    font-size: $font-sm;
    @include ipad() {
      font-size: $font-xsm;
      width: 70%;
    }
    span {
      display: inline-block;
      width: 33%;
    }
    img {
      width: 23%;
      @include iphone() {
        margin-left: 8%;
      }
    }
  }
}
