// base size
$window-size: 70%;
$window-right-size: 80%;
$window-size-md: 95%;

// fonts size
$font-xl: 5.5rem;
$font-lg: 3rem;
$font-md: 2rem;
$font-sm: 1.6rem;
$font-xsm: 1.2rem;

// colors
$color-gray1: #718096;
$color-gray2: rgba(160, 174, 192, 0.5);
